:host {
  display: block;
  padding: 2rem;

  mat-card {
    background-color: #fff;
  }

  .badge {
    padding: 0.4em 0.6em;
    border-radius: 0.25rem;
    font-size: 0.85rem;
  }

  .text-capitalize {
    text-transform: capitalize;
  }
}
