/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --main-color: #E77B31;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-main {
    background-color: var(--main-color);
}

.color-main {
    color: var(--main-color);
}